{% extends "_layouts/default.njk" %}

{% block body %}

  <div class="content">
    <strong>Agendamento horário</strong>
    <div class="provider">
      <div>
        <img src="/files/{{ provider.avatar}}" alt="Avatar">
        <strong>{{provider.name}}</strong>
      </div>
    </div>
    <form action="/app/appointments/new/{{ provider.id}}" method="POST">
      <input type="text" class="flatpickr" placeholder="Escolha uma data">
      <div id="hours"></div>
      <button type="submit">Agendar</button>
      <a href="/app/dashboard" class="btn btn-secondary">Voltar ao início</a>
    </form>
  </div>

  <script type="text/javascript">
    const defaultDate = new Date()

    flatpickr('.flatpickr', {
      minDate: defaultDate,
      defaultDate: defaultDate,
      dateFormat: 'd/m/Y',
      locale: 'pt',
      onChange: function (date) {
        getHours(date[0])
      }
    })

    getHours(defaultDate)

    function getHours(date) {
      fetch(`/app/available/{{ provider.id }}?date=${date.getTime()}`).then(function (response) {
        response
          .text()
          .then(function (html) {
            document
              .getElementById('hours')
              .innerHTML = html
          })
      })
    }
  </script>
{% endblock %}
